# Data Validation

In [12]:
import pandas as pd

In [20]:
df1 = pd.read_excel('2025 age wise new cases and death 2.xlsx')

print(df1)

                             category  Both sexes new  Male new  Female new  \
0               Oral cavity & pharynx           59660     42500       17160
1                    Digestive system          362200    201190      161010
2                  Respiratory system          245700    124700      121000
3                      Bones & joints            3770      2150        1620
4       Soft tissue (including heart)           13520      7600        5920
5   Skin (excluding basal & squamous)          112690     65740       46950
6                       Breast Cancer          319750      2800      316950
7                      Genital system          444610    325690      118920
8                      Urinary system          170470    120320       50150
9                         Eye & orbit            3140      1620        1520
10       Brain & other nervous system           24820     14040       10780
11                   Endocrine system           52140     16450       35690
12                           Lymphoma           89070     49980       39090
13                            Myeloma           36110     20030       16080
14                           Leukemia           66890     38720       28170
15                             Others           37370     19720       17650

    Both sexes death  Male death  Female death
0              12770        9130          3641
1             174520      100250         74270
2             130200       68340         61860
3               2190        1240           950
4               5410        2960          2450
5              14110        9550          4560
6              42680         510         42170
7              71510       36880         34630
8              33140       22840         10300
9                490         270           220
10             18330       10170          8160
11              3440        1680          1760
12             20540       11780          8760
13             12030        6720          5310
14             23540       13500         10040
15             53220       28260         28960

In [21]:
df2 = pd.read_excel('2025 age wise new cases and death.xlsx')

print(df2)

                             category  Both sexes new  Male new  Female new  \
0               Oral cavity & pharynx           59660     42500       17160
1                    Digestive system          362200    201190      161010
2                  Respiratory system          245700    124700      121000
3                      Bones & joints            3770      2150        1620
4       Soft tissue (including heart)           13520      7600        5920
5   Skin (excluding basal & squamous)          112690     65740       46950
6                              Breast          319750      2800      316950
7                      Genital system          444610    325690      118920
8                      Urinary system          170470    120320       50150
9                         Eye & orbit            3140      1620        1520
10       Brain & other nervous system           24820     14040       10780
11                   Endocrine system           52140     16450       35690
12                           Lymphoma           89070     49980       39090
13                            Myeloma           36110     20030       16080
14                           Leukemia           66890     38720       28170
15                             Others           37370     19720       17650

    Both sexes death  Male death  Female death
0              12770        9130          3640
1             174520      100250         74270
2             130200       68340         61860
3               2190        1240           950
4               5410        2960          2450
5              14110        9550          4560
6              42680         510         42170
7              71510       36880         34630
8              33140       22840         10300
9                490         270           220
10             18330       10170          8160
11              3440        1680          1760
12             20540       11780          8760
13             12030        6720          5310
14             23540       13500         10040
15             53220       28260         28960

In [22]:
print(df1.equals(df2))

False

In [24]:
comparevalues = df1.values == df2.values
print(comparevalues)

[[ True  True  True  True  True  True False]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [False  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]
 [ True  True  True  True  True  True  True]]

In [25]:
import numpy as np

In [26]:
rows,cols = np.where(comparevalues==False)

for item in zip(rows,cols):
    df1.iloc[item[0],item[1]] = '{} --> {}'.format(df1.iloc[item[0],item[1]],df2.iloc[item[0],item[1]])

df1.to_excel('Data Validation Output.xlsx',index=False,header=True)

/var/folders/6z/dfhp0g4x2w99qncvlnms15cr0000gn/T/ipykernel_2420/3692723008.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3641 --> 3640' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.iloc[item[0],item[1]] = '{} --> {}'.format(df1.iloc[item[0],item[1]],df2.iloc[item[0],item[1]])